<h5>If there are no orders, follow the 'Add To Order' button</h5>
<h5>If 'Red', check out the kitchen. If 'Green', guest should have their food</h5>
<h5>When guests are done, print receipt will remove the guest from the table</h5>

<h1>Guest Order</h1>
<div class='row'>
  <div class='button-row'>
    <%= button_to "View Table", table_path(@guest.table_id), method: :get, class:'btn waves-effect' %>

  <!-- Also need a button that will say "Add to Order" -->
    <%= button_to "Add To Order", guest_items_path(params[:id]), method: :get, class:'btn waves-effect' %>

  <!-- Need a button at the bottom to say "Print Reciept" or "Mark as paid" -->
  <!-- Button for checkout -->
    <%= button_to 'Print Receipt', guest_path(@guest.id), method: :delete, class:'btn waves-effect' %>
  </div>
</div>

<div class='container' id='receipt'>
  <!-- Each order will just be added to a list of orders that will show up on the view looking like a reciept -->
  <% @orders.each do |order| %>
    <!--  List them out here -->
    <!-- Each item is clickable so that it can be removed from the list -->
    <% if order.order_status %>
      <% if order.item.category != 'booze' %>
        <%= button_to "#{order.item.name} #{order.item.category} | $#{order.item.price}", order_path(order), method: :delete, class:'food green' %>
      <% else %>
        <%= button_to "#{order.item.name} | $#{order.item.price}", order_path(order), method: :delete, class:'food green' %>
      <% end %>
    <% else %>
      <% if order.item.category != 'booze' %>
        <%= button_to "#{order.item.name} #{order.item.category} | $#{order.item.price}", order_path(order), method: :delete, class:'food red' %>
      <% else %>
        <%= button_to "#{order.item.name} | $#{order.item.price}", order_path(order), method: :delete, class:'food red' %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Bill total at the bottom - adds up all the prices of all the items on the receipt -->
  <div class='total'>
    <h1>Total $<%= @total %></h1>
  </div>
</div>
