<h1> Guessssttt</h1>

<%= link_to "Add To Order", guest_items_path(params[:id]) %>

<div class='container' id='receipt'>
  <!-- Each order will just be added to a list of orders that will show up on the view looking like a reciept -->
  <% @orders.each do |order| %>
    <p><%= order.item.name %> | $<%= order.item.price %> <%= link_to 'X', order_path(order), method: :delete %></p>
  <% end %>

  <h1>Total $<%= @total %></h1>
  <!-- Need a button at the bottom to say "Print Reciept" or "Mark as paid" -->

  <!-- Also need a button that will say "Add to Order" -->


  <!-- For all orders where customer_id: params[:id] -->
  <!--  List them out here -->

  <!-- Each item is clickable so that it can be removed from the list -->

  <!-- Bill total at the bottom - adds up all the prices of all the items on the receipt -->
  <!-- Button for checkout -->
</div>
