<%= stylesheet_link_tag    'servers', media: 'all' %>


<div id='login-box'>
  <div class='container'>
    <h2>Log In</h2>
    <!-- Woo hoo log in to serve some tachoritas! -->
    <%= form_tag '/sessions', method: :post do %>
    <div class='login-inputs'>
      <div class='input-field'>
        <%= label_tag :name %>
        <%= text_field_tag :name%>
      </div>
      <div class='input-field'>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
    </div>

      <br>
      <%= submit_tag 'Log In', class:'btn btn-large waves-effect waves-light yellow darken-2' %>
    <% end %>
    <div class='credentials'>
      <h5>Please choose one of the following credentials</h5>
      <p> <b>Username:</b> Admin <b>Password:</b> admin</p>
      <p> <b>Username:</b> Waiter <b>Password:</b> password </p>
      <p> <b>Username:</b> Chef <b>Password:</b> password</p>
    </div>
  </div>
</div>
