<h3>Tacho-Libre Menu</h3>
<%= link_to "Back to Guest", guest_path(params[:guest_id]), class:'btn' %>
<div class='row'>
  <div class='col s12 m4 l4'>
    <ul class='collapsible' data-collapsible="accordion">
      <li><div class="nacho-header collapsible-header active"><h1>NACHOS</h1></div>
      <% @nachos.each do |n| %>
        <div class='collapsible-body'><%= form_for @order do |f| %>
          <%= f.hidden_field :guest_id, value: params[:guest_id] %>
          <%= f.hidden_field :item_id, value: n.id %>
          <%= f.submit "#{n.name} : $#{n.price}", class:'food btn waves-effect waves-light' %>
        <% end %></div>
      <% end %>
      </li>
    </ul>
  </div>
    <div class='col s12 m4 l4'>
      <ul class='collapsible' data-collapsible="accordion">
        <li><div class="taco-header collapsible-header active"><h1>TACOS</h1></div>
        <% @tacos.each do |t| %>
          <div class='collapsible-body'><%= form_for @order do |f| %>
            <%= f.hidden_field :guest_id, value: params[:guest_id] %>
            <%= f.hidden_field :item_id, value: t.id %>
            <%= f.submit "#{t.name} : $#{t.price}", class:'food btn waves-effect waves-light' %>
          <% end %></div>
        <% end %>
        </li>
      </ul>
    </div>
    <div class='col s12 m4 l4'>
      <ul class='collapsible' data-collapsible="accordion">
        <li><div class="booze-header collapsible-header active"><h1>BOOZE</h1></div>
        <% @booze.each do |b| %>
          <div class='collapsible-body'><%= form_for @order do |f| %>
            <%= f.hidden_field :guest_id, value: params[:guest_id] %>
            <%= f.hidden_field :item_id, value: b.id %>
            <%= f.submit "#{b.name} : $#{b.price}", class:'food btn waves-effect waves-light' %>
          <% end %></div>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
