<!DOCTYPE html>
<html>
<head>
  <title>TachosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'TACHO-LIBRE', root_path, class:"brand-logo" %>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Admin", admins_path %></li>
            <li><%= link_to "Kitchen", chefs_path %></li>
            <li><%= link_to "Servers", profile_path(current_user.id) %></li>
            <li><%= link_to "Logout", sessions_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', root_path %>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

    <%= yield %>
</body>
</html>
